body
{
    width: 1536px;
}
#main-img
{
    position: relative;
    width: 1536px;
}
.header-container-nav
{
    position: relative;
    background-color: #13eaed;
}
.header-nav-text
{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 28pt;
    text-decoration: none;
}
#nav-ul
{
    display: flex;
}
#nav-ul li{
   margin-left: 135px;
   text-align: center; 
}
#nav-ul a{
    display: block;
    padding: 15px 25px;
}
#nav-ul a:hover{
    background-color: #0797b8;
}