body{
    background-image:url("../pictures/Avialayner.jpg");
    width: 1536px;
    border:0;
	font:13px Arial, Helvetica, sans-serif;
	color:#3a3a3a;
	line-height:20px;
	min-width:980px;
	padding:10px 0
}
.wrapper {
	width:100%;
	overflow:hidden
}
/* Global Structure */
.main {
	margin:0 auto;
	width:960px;
	padding:10px;
	background:#fff;
	box-shadow:0 0 7px rgba(0, 0, 0, .2);
	-moz-box-shadow:0 0 7px rgba(0, 0, 0, .2);
	-webkit-box-shadow:0 0 7px rgba(0, 0, 0, .2);
	position:relative
}
#logo {
	display:block;
	background:url(../pictures/logo.png) 0 0 no-repeat;
	width:120px;
	height:104px;
	text-indent:-9999px
}
#slogan {
	font-size:20px;
	line-height:1.2em;
	color:#fff;
	float:left;
	padding:95px 0 0 18px;
	letter-spacing:-1px
}
#top_nav {
	float:right;
	padding:38px 56px 0 0
}
#top_nav li {
	float:left;
	padding-left:25px;
	width:50px;
	text-align:center
}
#top_nav li a {
	display:inline-block;
	padding-top:13px;
	color:#fff
}
#menu {
	padding:27px 0 0 42px
}
#menu li {
	float:left;
	margin-left:-1px;
	background:url(../images/menu_line.gif) bottom right no-repeat
}
#menu .end {
	background:none
}
#menu li a {
	display:block;
	height:71px;
	font-size:26px;
	line-height:71px;
	color:#fff;
	text-decoration:none;
	letter-spacing:-1px
}
#menu li a span {
	display:block
}
#menu li a span span {
	padding:0 32px;
	margin:0 6px
}
#menu li a:hover, #menu #menu_active a {
	background:url(../images/menu_left.png) top left no-repeat;
	color:#000
}
#menu li a:hover span, #menu #menu_active a span {
	background:url(../images/menu_right.png) top right no-repeat
}
#menu li a:hover span span, #menu #menu_active a span span {
	background:url(../images/menu_bg.gif) top repeat-x
}